.badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 23px;
	padding: 0 9px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: var(--badge-color);
	text-decoration: none;

	&--default {
		background: var(--badge-bg-default);
	}

	&--success {
		background: var(--badge-bg-success);
	}

	&--sale {
		background: var(--badge-bg-sale);
	}

	&--process {
		background: var(--badge-bg-process);
	}

	&--colored {
		background: var(--badge-colored-purple);
	}
}
