.content-page {
	padding-top: 110px;
	padding-bottom: 70px;

	@media screen and (max-width: 768px) {
		padding-bottom: 40px;
	}

	h2 {
		margin-bottom: 10px;
		font-size: 30px;
		font-weight: 800;
		text-transform: uppercase;

		@media screen and (max-width: 768px) {
			font-size: 24px;
		}
	}

	.content-wrapper {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.6;

		ul,
		ol {
			margin: 0;
			padding: 0 0 0 20px;
		}

		@media screen and (max-width: 768px) {
			font-size: 16px;
		}
	}
}
