.dropdown {
	position: absolute;
	top: 15px;
	left: -20px;
	z-index: -1;
	opacity: 0;
	padding: 0;
	background-color: transparent;
	visibility: hidden;
	transform: translateY(-4px);
	transition:
		opacity 0.25s,
		visibility 0.25s,
		transform 0.25s;

	&--games {
		left: -50px;
	}
}

//.dropdown__list {
//  list-style: none;
//  margin: 0;
//  background-color: #8576FD;
//  border-radius: 20px;
//  padding: 10px 0;
//}
//
//.dropdown__list li {
//  position: relative;
//}
//
//.dropdown__list li a {
//  display: block;
//  padding: 10px 20px;
//  text-decoration: none;
//  text-transform: uppercase;
//  font-weight: 700;
//  font-size: 12px;
//  line-height: 15px;
//  color: #ffffff;
//  transition: color 0.2s ease-in;
//}
//
//.dropdown__list li a:hover {
//  color: #120F2C;
//}
