.games-card {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	a {
		&:hover {
			.games-card__pic {
				img {
					transform: scale(1.1);
					-webkit-clip-path: circle(90% at 50% 50%);
					clip-path: circle(90% at 50% 50%);
					@media screen and (max-width: $max-tablet) {
						-webkit-clip-path: ellipse(190% 78% at 50% 21%);
						clip-path: ellipse(190% 78% at 50% 21%);
					}
				}
			}
		}
	}

	.badge {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		width: auto;
		min-width: 104px;
		border-radius: 15px 0px;
		background-color: var(--badge-bg-sale);
		height: 40px;
		color: #fff;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
	}
}

.games-card__body {
	overflow: hidden;
	//height: calc(100% - 130px);
	//max-height: 355px;

	@media screen and (min-width: 768px) and (max-width: 1200px) {
		height: auto;
	}
}

.games-card__pic {
	aspect-ratio: 1 / 1.1;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: border-radius 0.2s ease-in;

	svg {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	img {
		display: block;
		width: 100%;
		transform: scale(1);
		transform-origin: center center;
		transition: all 0.4s ease-in-out;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

.games-card__logo {
	position: absolute;
	top: 40px;
	left: 50%;
	z-index: 3;
	transform: translateX(-50%);
	width: 80%;
	max-width: 240px;
}

.games-card__logo img {
	display: block;
	width: 100%;
	height: auto;
}

.games-card__footer {
	margin-top: auto;
}

.games-card__info {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 54px;
	padding: 27px 30px 30px 30px;
	box-sizing: border-box;

	@media screen and (max-width: $mid-tablet) {
		//flex-direction: column;
		//align-items: flex-start;
		padding: 27px 20px 30px 20px;
	}

	@media screen and (max-width: $max-tablet) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.games-card__title {
	max-width: 200px;
	margin: 0;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: var(--card-title-color);
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;

	@media screen and (max-width: $max-mobile) {
		font-size: 16px;
		line-height: 20px;
	}
}

.games-card__col {
	&--right {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;

		@media screen and (max-width: $max-mobile) {
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			width: 100%;
			margin-left: auto;
		}

		.badge {
			margin-right: 10px;
		}
	}

	&--left {
		@media screen and (max-width: $max-mobile) {
			margin-bottom: 10px;
		}
	}

	@media screen and (max-width: $max-mobile) {
		width: 100%;
	}
}

.games-card__cost {
	display: flex;
	flex-direction: column;

	@media screen and (max-width: $max-mobile) {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0 10px;
	}
}

.games-card__cost span {
	display: block;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	text-align: right;
	text-decoration-line: line-through;
	text-transform: uppercase;
	color: var(--card-text-color-minor);

	@media screen and (max-width: $max-tablet) {
		text-align: left;
	}
}

.games-card__cost p {
	margin: 0;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: var(--card-text-color-major);
	word-break: unset;

	@media screen and (max-width: $max-mobile) {
		font-size: 16px;
		line-height: 30px;
	}
}
