.game-hero {
	position: relative;
	min-height: 780px;
	padding: 150px 0 100px 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, rgba(13, 20, 58, 0) 0%, #0d143a 100%);
		min-height: 211px;

		@media screen and (max-width: 768px) {
			min-height: 100px;
		}
	}

	@media screen and (max-width: 600px) {
		padding-bottom: 30px;
	}

	@media screen and (max-width: 600px) {
		padding-top: 72px;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.back-bg {
		@media screen and (max-width: 768px) {
			display: none !important;
		}
	}
}

.game-hero__wrapper {
	display: grid;
	grid-template-columns: minmax(min-content, 780px) 470px;
	grid-template-rows: auto auto auto auto;
	column-gap: 50px;

	@media screen and (max-width: 1400px) {
		grid-template-columns: minmax(min-content, 780px) 510px;
	}

	@media screen and (max-width: 1200px) {
		display: flex;
		flex-wrap: wrap;
	}

	//@media screen and (max-width: 768px) {
	//  display: flex;
	//  flex-direction: column;
	//}
}

.game-hero__title {
	margin: 0 0 25px;
	font-style: normal;
	font-weight: 900;
	line-height: 50px;
	font-family: var(--pilat-wide-font-family);
	color: var(--white);
	font-size: 40px;
	text-transform: uppercase;

	@media screen and (max-width: 768px) {
		margin: 0 0 20px;
		font-size: 24px;
		line-height: 30px;
	}
}

.game-hero__description {
	margin: 0 0 10px 0;
	font-style: normal;
	line-height: 28px;
	font-family: var(--helvetica-neue-font-family);
	color: var(--white);
	font-size: 16px;
	font-weight: 400;

	@media screen and (max-width: 768px) {
		margin: 0 0 20px 0;
		font-size: 16px;
		line-height: 28px;
	}
}

.game-hero__options {
	border-top: 1px solid rgba(255, 255, 255, 0.11);
	padding: 0;

	.game-header__social {
		display: none;
	}

	@media screen and (max-width: 768px) {
		.game-header__social {
			display: flex;
		}
	}
}

.game-hero__block-left {
	grid-row: 1 / 2;

	@media screen and (max-width: 1200px) {
		width: calc(100% - 530px);
	}
	@media screen and (max-width: 820px) {
		width: 48%;
	}

	@media screen and (max-width: 768px) {
		width: calc(100% - 370px);
	}

	@media screen and (max-width: 600px) {
		width: 100%;
		height: auto;
		min-height: unset;
		order: 2;
	}
}

.game-hero__info {
	grid-row: 2 / 3;
	padding: 20px 0;
	//border-top: 1px solid rgba(255, 255, 255, 0.11);

	@media screen and (max-width: 1200px) {
		width: 100%;
		order: 3;
	}
}

.game-hero__block-right {
	width: 100%;
	grid-row: 1 / 3;
	display: flex;
	justify-content: flex-end;
	height: 600px;

	.game-header__social {
		position: absolute;
		bottom: 0;
		right: -40px;
		z-index: 1;
		display: flex;
		margin-top: auto;
		flex-direction: column;
		justify-items: end;
		margin-bottom: 15px;

		@media screen and (max-width: 1400px) {
			position: unset;
			bottom: unset;
			right: unset;
			margin-left: 20px;
		}

		@media screen and (max-width: 600px) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(40px, 40px));
			grid-template-rows: 40px;
			justify-items: flex-start;
			justify-content: space-between;
			margin-left: 0;
			gap: 10px;
		}
	}

	@media screen and (max-width: 1200px) {
		width: 470px;
		min-height: 450px;
	}
	@media screen and (max-width: 820px) {
		width: 45%;
		height: auto;
	}

	@media screen and (max-width: 768px) {
		width: 300px;
		height: 350px;
		min-height: unset;
	}

	@media screen and (max-width: 600px) {
		flex-direction: column;
		width: 100%;
		height: auto;
		min-height: unset;
		order: 1;
		margin-bottom: 0;
	}
}

.game-hero__picture {
	width: 470px;
	height: 100%;
	overflow: hidden;

	figure {
		height: 100%;
		width: 100%;
		margin: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom center;
		overflow: hidden;

		@media screen and (max-width: 600px) {
			background-image: none !important;
		}

		img {
			display: none;

			@media screen and (max-width: 600px) {
				display: block;
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 600px) {
		width: 100%;
		height: 100%;
		margin-bottom: 20px;
	}
}

.game-hero__price {
	padding: 10px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.11);

	@media screen and (max-width: 480px) {
		margin-bottom: 30px;
		padding: 16px;
		background: #1a1736;
		border-radius: 16px;
		border: none;
	}
}

.game-hero__buttons {
	padding: 20px 0;
	display: flex;
	align-items: center;
	//justify-content: space-between;

	@media screen and (max-width: 600px) {
		justify-content: space-between;
	}
	.button {
		margin-right: 10px;
	}
}
