.games-modifications {
	padding: 30px 0 30px 0;

	.game-unit {
		align-items: stretch;
		width: calc(50% - 20px);
		margin: 0 10px 20px;

		.game-unit__pic {
			height: auto;
			max-height: 100%;
		}

		.link--bordered {
			display: none;
		}

		@media screen and (max-width: $max-tablet) {
			width: 100%;
			margin: 0 0 20px 0;
		}
	}
}

.games-modifications__title {
	&.title {
		margin-bottom: 30px;
	}
}

.games-modifications__text {
	margin: 0 0 50px 0;
	color: var(--games-modifications-color-text);
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: var(--text-color);
}

.games-modifications__list {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 0 -10px;
}
