.game-unit {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	min-height: 347px;
	background: var(--reskin-hover-secondary-dark-color);
	gap: 10px;
	box-sizing: border-box;
	transition: background-color var(--common-transition-duration-easing-function);

	&:before {
		content: '';
		transition: all var(--common-transition-duration-easing-function);
		background: var(--reskin-secondary-dark-color);
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	&:hover {
		&:before {
			background: var(--reskin-quinary-dark-color);
			width: calc(100% + 20px);
			left: -10px;
			right: -10px;
			top: -10px;
			bottom: -10px;
			height: calc(100% + 20px);
		}
	}

	&.no-logo {
		.game-unit__pic::before {
			display: none;
		}
	}

	@media screen and (max-width: $min-mobile) {
		flex-direction: column;
		padding: 10px 10px 10px 10px;
	}
}

.game-unit__pic {
	width: 50%;
	height: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	box-sizing: border-box;

	@media screen and (max-width: $min-mobile) {
		width: 100%;
		height: 100%;
		aspect-ratio: 0.78;
	}
}

.game-unit__pic img {
	position: relative;
	z-index: 3;
	display: block;
	width: 100%;
}

.game-unit__col {
	display: flex;
	flex-direction: column;
	width: 50%;
	box-sizing: border-box;
	padding: 25px 20px 50px;

	@media screen and (max-width: $min-mobile) {
		width: 100%;
		height: auto;
	}
}

.game-unit__title {
	margin: 0 0 20px 0;
	color: var(--white);
	text-transform: uppercase;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-family: var(--pilat-wide-font-family);
}

.game-unit__text {
	margin: 0 0 20px 0;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	line-clamp: 6;
	box-orient: vertical;

	color: var(--white-70);

	font-family: var(--helvetica-neue-font-family);
	font-size: 14px;
	font-style: normal;
	line-height: normal;
}

.game-unit__footer {
	position: absolute;
	left: 0;
	top: 25px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.game-unit__cost {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: 10px;
}

.game-unit__cost span {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	text-decoration-line: line-through;
	text-transform: uppercase;
	color: var(--card-text-color-minor);
}

.game-unit__cost p {
	margin: 0;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: var(--text-color);
}

.games-profile__list {
	margin: 0 auto;
}
