.games {
	width: 100%;
	padding: 56px 0 50px 0;

	@media screen and (max-width: $max-mobile) {
		padding: 56px 0 56px 0;
	}
}

.games__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;

	&.title {
		margin-bottom: 30px;
	}
}

.games__list {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 -10px 60px;

	@media screen and (max-width: $max-mobile) {
		width: 100%;
		margin: 0 0 30px 0;
	}
}

.games__item {
	//@media screen and (max-width: $max-tablet) {
	//  width: calc(50% - 20px);
	//}

	@media screen and (max-width: $max-mobile) {
		width: calc(50% - 20px);
	}

	@media screen and (max-width: $min-mobile) {
		width: 100%;
		margin: 0 0 20px 0;
	}
}
