.info-card {
	margin: 0 0 20px 0;
	padding: 30px;
	background: var(--reskin-secondary-dark-color);
}

.info-card__title {
	margin: 0 0 20px 0;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--white);
}

.info-card__desc {
	margin: 0 0 20px 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: var(--white);
	word-break: keep-all !important;

	a {
		text-decoration: underline;
	}
}

.info-card__row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 10px;
	margin: 0 0 20px 0;

	@media screen and (max-width: $mid-mobile) {
		flex-wrap: wrap;
	}

	@media screen and (max-width: $min-mobile) {
		align-items: flex-start;
	}

	@media screen and (max-width: $max-mobile) {
		margin-bottom: 30px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.button {
		@media screen and (max-width: $mid-mobile) {
			margin-top: 20px;
		}
		@media screen and (max-width: $min-mobile) {
			width: 100%;
		}
	}
}

.info-card__pic {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;
	min-width: 46px;
	margin: 0 20px 0 0;
	border: 1px solid var(--white-50);
	border-radius: 5px;

	img {
		display: block;
		max-width: 30px;
		max-height: 30px;
	}
}

.info-card__name {
	flex-grow: 2;
	width: auto;
	padding-right: 10px;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;

	@media screen and (max-width: $min-mobile) {
		flex-grow: unset;
		width: calc(100% - 72px);
	}
}
