.profile-games {
}

.profile-games__list {
	margin-left: 0;
	margin-right: 0;

	.game-unit {
		align-items: stretch;
		width: 100%;
		min-height: 240px;
		padding: 10px 20px 10px 10px;
		margin: 0 0 10px 0;
		box-sizing: border-box;

		@media screen and (max-width: $min-mobile) {
			flex-direction: column;
			padding: 10px 10px 10px 10px;
		}
	}

	.game-unit__pic {
		width: 150px;
		height: 100%;

		@media screen and (max-width: $min-mobile) {
			width: 100%;
			height: 100%;
		}
	}

	.game-unit__col {
		width: calc(100% - 150px);
		padding: 20px 0 10px 20px;

		@media screen and (max-width: $min-mobile) {
			width: 100%;
			height: 100%;
			padding: 20px 0 10px;
		}
	}

	.game-unit__tags {
		display: none;
	}

	.game-unit__footer {
		justify-content: space-between;
		align-items: flex-end;
		margin-top: auto;

		@media screen and (max-width: $max-tablet) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
		}

		& > .game-unit__tags {
			display: flex;

			@media screen and (max-width: $max-tablet) {
				margin-bottom: 10px;
			}

			.badge {
				display: inline-flex;
			}
		}

		.badge,
		.game-unit__cost {
			display: none;
		}

		.link {
			display: block;
		}
	}
}
