.profile-content-wrapper {
	width: 100%;
}
.promocodes {
	width: 100%;
	max-width: 1000px;
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;

	.button--more {
		margin: 0 auto;
	}
}

.promocodes__item {
	display: flex;
	align-items: center;
	margin: 0 0 10px 0;
	padding: 15px 30px;
	background: var(--reskin-secondary-dark-color);
	box-sizing: border-box;

	.badge {
		white-space: nowrap;
	}

	@media screen and (max-width: $min-mobile) {
		flex-wrap: wrap;
	}
}

.promocodes__item-info {
	width: calc(100% - 192px);

	@media screen and (max-width: $min-mobile) {
		order: 3;
		width: 100%;
		margin-top: 20px;
	}
}

.promocodes__item-actions {
	margin-left: auto;

	@media screen and (max-width: $min-mobile) {
		order: 2;
		align-self: flex-start;
		padding-top: 15px;
	}

	.badge {
		min-height: 26px;
		padding: 3px 20px;
		font-weight: 600;
		font-size: 12px;
		line-height: 26px;
		color: #ffffff;
	}

	.badge--success {
		background: #49ac25;
	}
	.badge--process {
		background: #8576fd;
	}
	.badge--error {
		background: #ff1f11;
	}
	.badge--link {
		cursor: pointer;
	}
}

.promocodes__item-pic {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;
	margin: 0 20px 0 0;
	border: 1px solid var(--white-50);
	border-radius: 5px;
	box-sizing: border-box;

	img {
		max-width: 30px;
	}

	@media screen and (max-width: $min-mobile) {
		order: 1;
		align-self: flex-start;
	}
}

.promocodes__item-title {
	margin: 0 0 5px 0;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	@media screen and (max-width: $min-mobile) {
		margin-bottom: 20px;
	}
}

.promocodes__item-dates {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
}
