.sidebar {
	min-width: 280px;
	margin-right: 20px;
	padding: 22px;
	background: var(--reskin-secondary-dark-color);

	@media screen and (max-width: $max-mobile) {
		margin-bottom: 20px;
	}
}

.sidebar__list {
	display: flex;
	flex-direction: column;
	gap: 13px;
}

.sidebar__link {
	display: flex;
	align-items: center;
	padding: 8px 0;
	transition: all 200ms ease-in-out;

	.sidebar__link-icon {
		width: 20px;
		margin-right: 12px;
		transition: all 200ms ease-in-out;
		filter: brightness(5);
	}

	.sidebar__item-name {
		color: #fff;
		transition: color 0.2s ease-in-out;
	}

	&.active {
		.sidebar__item-name {
			color: #bcb4ff;
		}

		.sidebar__link-icon {
			filter: saturate(60%);
		}
	}

	&:hover {
		.sidebar__item-name {
			color: var(--link-color);
			transition: color 0.2s ease-in-out;
		}

		.sidebar__link-icon {
			filter: saturate(90%);
			transition: color 0.2s ease-in-out;
		}
	}
}

.sidebar__item-name {
	width: calc(100% - 30px);
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-family: var(--pilat-wide-font-family);
	font-weight: 400;
}
