.footer-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: var(--reskin-primary-dark-color);

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

.footer-inner__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	@media screen and (max-width: 768px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.footer-inner__top {
	width: 100%;
	border-bottom: 1px solid rgba(144, 111, 251, 0.2);
}

.footer-inner__bottom {
	width: 100%;
}

.footer__menu {
	justify-content: center;
	align-content: center;
	flex-grow: 2;

	a,
	span,
	li {
		padding: 0 25px;
		color: #000;
		font-size: 14px;
		text-align: center;

		@media screen and (max-width: 1024px) {
			padding: 0 15px 10px 15px;
		}

		> div {
			font-size: 14px;
			color: #000000;
			transition: color linear 0.2s;
		}

		&:hover {
			> div {
				color: #8a76fa;
			}
		}
	}

	@media screen and (max-width: 1024px) {
		padding: 20px 0 0 0;
	}
}

.footer__links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	max-width: 30%;

	a,
	button {
		margin: 0 0 0 20px;
		font-weight: 600;
		font-size: 14px;
		color: var(--white);
		transition: color linear 0.2s;

		&:hover {
			color: #8a76fa;
		}

		@media screen and (max-width: 768px) {
			margin: 0px !important;
		}
	}

	div {
		text-align: right;
		@media screen and (max-width: 768px) {
			margin: 0px 0px 10px 0px !important;
			text-align: center;
		}
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		order: 1;
		margin-bottom: 10px;

		max-width: initial;
	}
}

.footer__info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	div {
		margin: 0 20px 0 0;
		font-weight: 600;
		font-size: 14px;
		color: var(--white);
	}
}

.footer-inner__logo {
	width: 160px;

	@media screen and (max-width: 768px) {
		width: auto;
	}
}

.footer-inner__social {
	min-width: 160px;

	& > li {
		width: 48px;
		height: 48px;
		margin: 0 10px;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
	}
}

.footer-inner__button {
	height: 40px;
	width: 230px;
	padding: 0 10px;
	font-size: 12px;
	text-align: center;

	@media screen and (max-width: 768px) {
		order: 2;
	}
}
