#gdpr-consent-form {
	position: fixed;
	bottom: 0;
	z-index: 1;
	left: 0;
	right: 0;

	& .gdpr-checkbox__border {
		background: var(--reskin-tertiary-dark-color);
		border: 1px var(--reskin-primary-neutral-color) solid;
		min-width: 22px;
		min-height: 22px;
	}

	& .gdpr-settings-screen__tab-icon {
		margin-right: 12px;
		width: 20px;
		height: 20px;
	}

	& .gdpr-settings-screen__tab-icon > svg {
		color: #c7cadb;
	}

	& .gdpr-settings-screen__tab-title {
		color: #c7cadb;
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
	}

	& .gdpr-app,
	& .gdpr-container,
	& .gdpr-settings-tab,
	& .gdpr-settings-tab__btn {
		background: var(--background-secondary-color);
	}

	& .gdpr-settings-footer__description {
		color: #c7cadb;
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
		word-break: break-word;
		display: flex;
		align-items: center;
		max-width: 324px;

		@media (max-width: 1050px) {
			max-width: 100%;
		}
	}

	& .gdpr-container {
		padding: 32px 0;
		max-width: 1380px;
		display: flex;
		align-items: center;

		@media (max-width: 1440px) {
			padding: 20px;
		}
	}

	& .gdpr-cookies-form__description {
		margin: 0;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #c7cadb;
	}

	& .gdpr-cookies-form__fields {
		margin-right: 0;
		gap: 10px;
		display: flex;
		flex-direction: column;
	}

	@media (min-width: 768px) and (max-width: 840px) {
		& .gdpr-settings-footer__buttons-container {
			width: 100%;
		}

		& .gdpr-settings-footer {
			flex-direction: column;
			width: 100%;
		}

		& .gdpr-settings-footer__links-container {
			width: 100%;
			margin-bottom: 16px;
			flex-direction: row;
			gap: 32px;
		}
	}

	& .gdpr-settings-footer__link,
	& .gdpr-settings-screen__cookies-list-link {
		font-size: 14px;
		line-height: 17px;
		text-decoration: underline;
		color: var(--reskin-secondary-light-color);

		& > svg {
			display: none;
		}
	}

	& .gdpr-buttons,
	& .gdpr-settings-footer__buttons {
		display: flex;
		gap: 20px;
	}

	& .gdpr-buttons,
	& .gdpr-settings-footer__buttons {
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: stretch;
			width: 100%;
		}

		@media (max-width: 425px) {
			& > .gdpr-button--secondary {
				flex: auto;
			}
		}
	}

	& .gdpr-close-button {
		right: 20px;

		&:after {
			content: url(public/gdpr/cross.svg);
			position: relative;

			@media (max-width: 1440px) {
				display: none;
			}
		}

		& > svg {
			display: none;
		}
	}

	& .gdpr-settings-screen__title,
	& .gdpr-cookies-form__title {
		color: var(--reskin-secondary-light-color);
		font-family: var(--pilat-wide-font-family);
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
	}

	& .gdpr-checkbox__content {
		color: #c7cadb;
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;

		& > .gdpr-tooltip {
			display: none;
		}
	}

	& .gdpr-settings-tab__btn {
		padding: 5px 4px;
		display: flex;
		align-items: center;
	}

	& .gdpr-checkbox {
		display: flex;
		align-items: center;
	}

	& .gdpr-settings-content {
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		color: #c7cadb;

		height: 100%;
		max-height: 128px;
		padding: 20px;

		& > a {
			font-size: 14px;
			line-height: 17px;
			font-weight: 600;
			text-decoration: underline;
			color: var(--reskin-secondary-light-color);

			& > svg {
				display: none;
			}
		}

		&::-webkit-scrollbar {
			border-radius: 0;
			width: 10px;
			background-color: #000000;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 0;
			width: 9px;
			border: 1px solid transparent;
			background-clip: content-box;

			background-color: var(--reskin-primary-light-color);

			&:active {
				background-color: #c7cadb;
			}
		}

		@media (min-height: 767px) {
			max-height: 160px;

			@media (max-width: 1439px) {
				max-height: 170px;
			}
		}
	}

	& .gdpr-button {
		margin-right: 0;
		height: 50px;
	}

	& .gdpr-settings-screen__button {
		width: auto;
	}

	& .gdpr-button--primary,
	& .gdpr-button--secondary {
		font-size: 16px;
		font-weight: 700;
		font-family: var(--pilat-wide-font-family);
		line-height: 21px;
		text-transform: uppercase;

		transition: all ease 0.5s;
		padding: 20px 30px;
		margin-bottom: 0;
	}

	& .gdpr-button--primary {
		color: #000;
		background: var(--reskin-secondary-light-color);
		border: none;
		transition:
			--first-gradient-color 0.5s,
			--second-gradient-color 0.5s;

		padding: 16px 20px;

		--first-gradient-color: var(--white);
		--second-gradient-color: var(--white);

		background: linear-gradient(var(--first-gradient-color), var(--second-gradient-color));

		&:hover {
			--first-gradient-color: var(--reskin-hover-button-gradient-first-color);
			--second-gradient-color: var(--reskin-hover-button-gradient-second-color);
		}

		&:active {
			--first-gradient-color: var(--reskin-primary-neutral-color);
			--second-gradient-color: var(--reskin-primary-neutral-color);
		}
	}

	& .gdpr-button--secondary {
		background: none;

		border: 2px var(--reskin-primary-light-color) solid;
		color: var(--reskin-primary-light-color);

		&:hover {
			border: 2px var(--white) solid;
			color: var(--white);
		}

		&:active {
			background: var(--reskin-active-outline-button-background-color);
			border: 2px var(--reskin-primary-light-color) solid;
			color: var(--reskin-primary-light-color);
		}
	}

	& .gdpr-settings-tab > .gdpr-settings-tab__btn {
		margin-bottom: 0;
	}

	& .gdpr-settings-tab__btn--active,
	& .gdpr-settings-content {
		background: #3e456c;
	}

	& .gdpr-cookies-form {
		min-height: auto;
		margin-right: 120px;
		gap: 20px;

		@media (max-width: 1440px) {
			margin-right: 0;
		}

		@media (max-width: 767px) {
			gap: 0;
		}

		@media (max-width: 1440px) and (min-width: 768px) {
			flex-direction: column;
		}
	}

	& .gdpr-buttons {
		@media (max-width: 1440px) and (min-width: 768px) {
			flex-direction: row;
			align-self: flex-end;
		}
	}
}
