image: gitlab.longtalegames.net:5050/ltg-platform/ltg-infrastructure

stages:
  - build
  - deploy

variables:
  AWS_REGISTRY_IMAGE: 936634395306.dkr.ecr.eu-west-1.amazonaws.com/ltg-ssr
  EKS_CLUSTER_NAME: ltg-services-eks-cluster
  RELEASE_NAME: ltg-${CI_ENVIRONMENT_SLUG}
  KUBE_NAMESPACE: ltg-${CI_ENVIRONMENT_SLUG}

.build:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "{\"credsStore\":\"ecr-login\"}" > /kaniko/.docker/config.json
    - >
      /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile ${DOCKERFILE:-$CI_PROJECT_DIR/Dockerfile}
      --destination $AWS_REGISTRY_IMAGE:$CI_PIPELINE_ID
      --snapshotMode=redo
      --use-new-run
  tags:
    - docker
    - linux

build_ssr_development:
  environment:
    name: 'development'
  extends: .build
  when: manual
  # rules:
  #   - if: $CI_COMMIT_TAG =~ /^dev-.*$/i || $CI_COMMIT_BRANCH == 'develop'

build_ssr_staging:
  environment:
    name: 'staging'
  extends: .build
  when: manual
  # rules:
  #   - if: $CI_COMMIT_TAG =~ /^stage-.*$/i || $CI_COMMIT_BRANCH == 'stage'

build_ssr_production:
  environment:
    name: 'production'
  extends: .build
  when: manual
  #rules:
  #  - if: $CI_COMMIT_TAG =~ /^v.*$/i


## deploy

.deploy:
  stage: deploy
  script:
    - aws eks update-kubeconfig --name ${EKS_CLUSTER_NAME}
    - |
      function k8s_prefixed_variables() { env | sed -n "s/^K8S_SECRET_\(.*\)$/\1/p";}
      kubectl create ns $KUBE_NAMESPACE || true
      kubectl create secret \
          -n "$KUBE_NAMESPACE" generic "$RELEASE_NAME-custom" \
          --from-env-file <(k8s_prefixed_variables) -o yaml --dry-run |
          kubectl replace -n "$KUBE_NAMESPACE" --force -f -
    - export CI_ENVIRONMENT_HOST=$(echo "${CI_ENVIRONMENT_URL}" | awk -F/ '{print $3}')
    - helmfile --environment ${CI_ENVIRONMENT_SLUG:=default} sync
  after_script:
    - kubectl -n ${KUBE_NAMESPACE} get po -l "app.kubernetes.io/instance=${RELEASE_NAME}"
  tags:
    - docker
    - linux

deploy_ssr_development:
  extends: .deploy
  environment:
    name: "development"
    url: https://dev.longtaleent.com
  when: manual
  #rules:
  #  - if: $CI_COMMIT_TAG =~ /^dev-.*$/i || $CI_COMMIT_BRANCH == 'develop'

deploy_ssr_staging:
  extends: .deploy
  environment:
    name: "staging"
    url: https://stage.ltg.com
  when: manual
  #rules:
  #  - if: $CI_COMMIT_TAG =~ /^stage-.*$/i || $CI_COMMIT_BRANCH == 'stage'

deploy_ssr_production:
  extends: .deploy
  environment:
    name: "production"
    url: https://ltg.com
  when: manual
  rules:
    - if: $CI_COMMIT_TAG =~ /^v.*$/i

