.from-in {
	animation-name: from-in;
	animation-duration: 400ms;
}

@keyframes from-in {
	from {
		transform: scale(1.1);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.up-in {
	animation-name: up-in;
	animation-duration: 400ms;
}

@keyframes up-in {
	from {
		transform: translateY(120%) scale(0.8);
		opacity: 0;
	}
	to {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

.hero-enter-active,
.hero-leave-active {
	transition: all 500ms ease-in-out;
}

.hero-enter,
.hero-leave-active {
	opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
	transition: all 250ms cubic-bezier(0.4, -0.35, 0.83, 0.67);
	will-change: transform;
}

.layout-enter,
.layout-leave-active {
	filter: opacity(0);
	//transform: translateX(-1rem);
}

.header-enter-active,
.header-leave-active {
	transition: all 250ms ease-in-out;
	will-change: transform;
}

.header-enter,
.header-leave-active {
	filter: opacity(0);
	transform: translateY(-100%);
}
