@import './ui.scss';
@import './base.scss';
@import './animation.scss';

@import './blocks/badge.scss';
@import './blocks/button';
@import './blocks/games.scss';
@import './blocks/games-card.scss';
@import './blocks/game-unit.scss';
@import './blocks/profile-games.scss';
@import './blocks/games-modification.scss';
@import './blocks/link.scss';
@import './blocks/tags.scss';
@import './blocks/dropdown.scss';
@import './blocks/games-menu-list.scss';
@import './blocks/carousel.scss';
@import './blocks/game-info-text.scss';

@import './blocks/promocode.scss';
@import './blocks/promocodes.scss';
@import './blocks/option.scss';
@import './blocks/form.scss';
@import './blocks/sidebar.scss';
@import './blocks/info-card.scss';
@import './blocks/subscription-info.scss';
@import './blocks/content-page.scss';
@import './blocks/game-hero.scss';
@import './blocks/footer.scss';
@import './blocks/select.scss';
@import './blocks/toolbar.scss';
@import './blocks/game-card.scss';
@import './blocks/custom-select.scss';
// TODO: Check styles in future releases
//@import "./blocks/group.scss";
//@import "./blocks/news.scss";
//@import "./blocks/news-card.scss";
//@import "./blocks/cards.scss";
//@import "./blocks/link-back.scss";
//@import "./blocks/article-content.scss";
