:root {
	--space-0: 0;
	--space-25: 2px;
	--space-50: 4px;
	--space-75: 6px;
	--space-100: 8px;
	--space-125: 10px;
	--space-150: 12px;
	--space-175: 14px;
	--space-200: 16px;
	--space-225: 18px;
	--space-250: 20px;
	--space-300: 24px;
	--space-325: 26px;
	--space-350: 28px;
	--space-375: 30px;
	--space-400: 32px;
	--space-450: 36px;
	--space-475: 38px;
	--space-500: 40px;
	--space-600: 48px;
	--space-700: 56px;
	--space-800: 64px;
	--space-1000: 80px;
}
