/* accent titles */
@mixin accent-title-base-font-style {
	font-family: var(--pilat-wide-font-family);
}

@mixin accent-title-1-font-style {
	@include accent-title-base-font-style;
	font-weight: 700;
	font-size: 50px;
	line-height: 56px;
	letter-spacing: 0.2px;
}

@mixin accent-title-2-font-style {
	@include accent-title-base-font-style;
	font-weight: 900;
	font-size: 40px;
	line-height: 56px;
	letter-spacing: 0.2px;
}

@mixin accent-title-3-font-style {
	@include accent-title-base-font-style;
	font-weight: 450;
	font-size: 32px;
	line-height: 44px;
}

/* titles */
@mixin title-base-font-style {
	font-family: var(--pilat-wide-font-family);
}

@mixin title-1-font-style {
	@include title-base-font-style;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
}

@mixin title-2-font-style {
	@include title-base-font-style;
	font-weight: 450;
	font-size: 20px;
	line-height: 24px;
}

@mixin title-3-font-style {
	@include title-base-font-style;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	font-family: var(--inter-font-family);
}

@mixin title-4-font-style {
	@include title-base-font-style;
	font-weight: 600;
	font-size: 17px;
	line-height: 22px;
}

/* headlines */
@mixin headline-base-font-style {
	font-family: var(--inter-font-family);

	line-height: 20px;
}

@mixin headline-1-font-style {
	@include headline-base-font-style;
	font-weight: 450;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1px;
}

@mixin headline-2-font-style {
	@include headline-base-font-style;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.2px;
}

/* common text */
@mixin common-text-base-font-style {
	font-family: var(--inter-font-family);

	letter-spacing: 0.2px;
}

@mixin text-font-style {
	@include common-text-base-font-style;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1px;
}

@mixin paragraph-font-style {
	@include common-text-base-font-style;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
}

@mixin paragraph-font-style {
	@include common-text-base-font-style;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
}

@mixin footnote-font-style {
	@include common-text-base-font-style;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
}

@mixin footnote-caps-font-style {
	@include common-text-base-font-style;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
}

@mixin caption-base-font-style {
	font-family: var(--roboto-font-family);

	letter-spacing: 0.3px;
}

@mixin caption-1-font-style {
	@include caption-base-font-style;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.2px;
}

@mixin caption-1-caps-font-style {
	@include caption-base-font-style;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
}

@mixin caption-2-font-style {
	@include caption-base-font-style;
	font-weight: 400;
	font-size: 11px;
	line-height: 14px;
}

@mixin caption-2-caps-font-style {
	@include caption-base-font-style;
	font-weight: 600;
	font-size: 11px;
	line-height: 14px;
}

@mixin caption-3-font-style {
	@include caption-base-font-style;
	font-weight: 400;
	font-size: 9px;
	line-height: 12px;
}

@mixin caption-3-caps-font-style {
	@include caption-base-font-style;
	font-weight: 700;
	font-size: 9px;
	line-height: 12px;
}
