body {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	font-weight: 400;
}

p {
	word-break: break-word;
}

@media (min-width: 0px) {
	.w-ab-1 {
		width: 1%;
	}
	.w-ab-10 {
		width: 10%;
	}
	.w-ab-100 {
		width: 100%;
	}
	.w-a {
		width: auto;
	}
	.h-ab-1 {
		height: 1%;
	}
	.h-ab-10 {
		height: 10%;
	}
	.h-ab-100 {
		height: 100%;
	}
	.h-a {
		height: auto;
	}
	.w-ab-2 {
		width: 2%;
	}
	.w-ab-3 {
		width: 3%;
	}
	.w-ab-5 {
		width: 5%;
	}
	.w-ab-9 {
		width: 9%;
	}
	.w-ab-26 {
		width: 26%;
	}
	.w-ab-30 {
		width: 30%;
	}
	.w-ab-50 {
		width: 50%;
	}
	.w-ab-90 {
		width: 90%;
	}
	.w-5 {
		width: 5vw;
	}
	.h-ab-15 {
		height: 15%;
	}
	.h-1 {
		height: 1vh;
	}
	.h-3 {
		height: 3vh;
	}
	.h-10 {
		height: 10vh;
	}
	.w-px-1 {
		width: 10px;
	}
	.w-px-10 {
		width: 100px;
	}
	.w-ab-8 {
		width: 8%;
	}
	.w-ab-35 {
		width: 35%;
	}
	.w-ab-80 {
		width: 80%;
	}
	.h-ab-3 {
		height: 3%;
	}
	.h-ab-30 {
		height: 30%;
	}
	.h-100 {
		height: 100vh;
	}
	.w-ab-6 {
		width: 6%;
	}
	.w-ab-60 {
		width: 60%;
	}
	.w-ab-85 {
		width: 85%;
	}
	.w-1 {
		width: 1vw;
	}
	.w-7 {
		width: 7vw;
	}
	.h-ab-4 {
		height: 4%;
	}
	.h-ab-9 {
		height: 9%;
	}
	.h-ab-40 {
		height: 40%;
	}
	.h-ab-90 {
		height: 90%;
	}
	.w-4 {
		width: 4vw;
	}
	.h-4 {
		height: 4vh;
	}
	.w-ab-58 {
		width: 58%;
	}
	.w-6 {
		width: 6vw;
	}
	.w-60 {
		width: 60vw;
	}
	.h-2 {
		height: 2vh;
	}
	.w-ab-24 {
		width: 24%;
	}
	.w-ab-29 {
		width: 29%;
	}
	.w-ab-7 {
		width: 7%;
	}
	.w-ab-75 {
		width: 75%;
	}
	.h-ab-12 {
		height: 12%;
	}
	.h-ab-14 {
		height: 14%;
	}
	.h-ab-16 {
		height: 16%;
	}
	.h-ab-120 {
		height: 120%;
	}
	.h-ab-140 {
		height: 140%;
	}
	.h-ab-160 {
		height: 160%;
	}
	.h-px-4 {
		height: 40px;
	}
	.h-px-5 {
		height: 50px;
	}
	.h-px-6 {
		height: 60px;
	}
	.h-px-42 {
		height: 420px;
	}
	.h-px-52 {
		height: 520px;
	}
	.h-px-56 {
		height: 560px;
	}
	.h-px-60 {
		height: 600px;
	}
	.h-px-61 {
		height: 610px;
	}
	.h-20 {
		height: 20vh;
	}
	.w-ab-15 {
		width: 15%;
	}
	.w-ab-70 {
		width: 70%;
	}
	.h-14 {
		height: 14vh;
	}
}
@media (min-width: 769px) {
	.w-ab-26-S {
		width: 26%;
	}
	.w-ab-50-S {
		width: 50%;
	}
	.w-ab-35-S {
		width: 35%;
	}
	.h-ab-30-S {
		height: 30%;
	}
	.h-100-S {
		height: 100vh;
	}
	.w-1-S {
		width: 1vw;
	}
	.w-ab-29-S {
		width: 29%;
	}
	.w-ab-75-S {
		width: 75%;
	}
	.h-ab-140-S {
		height: 140%;
	}
	.w-ab-100-S {
		width: 100%;
	}
	.h-px-42-S {
		height: 420px;
	}
	.w-ab-30-S {
		width: 30%;
	}
	.w-ab-60-S {
		width: 60%;
	}
}
@media (min-width: 1100px) {
	.w-ab-30-M {
		width: 30%;
	}
	.w-1-M {
		width: 1vw;
	}
	.w-ab-24-M {
		width: 24%;
	}
	.h-ab-140-M {
		height: 140%;
	}
	.h-px-52-M {
		height: 520px;
	}
	.w-ab-50-M {
		width: 50%;
	}
	.w-ab-70-M {
		width: 70%;
	}
}
@media (min-width: 1300px) {
	.h-ab-120-XM {
		height: 120%;
	}
	.h-px-61-XM {
		height: 610px;
	}
}
@media (min-width: 1921px) {
	.w-px-10-L {
		width: 100px;
	}
	.w-px-1-L {
		width: 10px;
	}
	.h-2-L {
		height: 2vh;
	}
	.h-ab-160-L {
		height: 160%;
	}
	.w-ab-80-L {
		width: 80%;
	}
	.h-px-60-L {
		height: 600px;
	}
}
@media (min-width: 3840px) {
	.h-1-XL {
		height: 1vh;
	}
	.w-ab-60-XL {
		width: 60%;
	}
}

@media (min-width: 0px) {
	.t-1 {
		top: 1vw;
	}
	.b-1 {
		bottom: 1vw;
	}
	.t-2 {
		top: 2vw;
	}
	.t-3 {
		top: 3vw;
	}
	.b-4 {
		bottom: 4vw;
	}
	.t-5 {
		top: 5vw;
	}
	.b-10 {
		bottom: 10vw;
	}
	.b-100 {
		bottom: 100vw;
	}
	.t-a {
		top: auto;
	}
	.p-a {
		position: absolute;
	}
	.b-2 {
		bottom: 2vw;
	}
	.r-3 {
		right: 3vw;
	}
	.b-3 {
		bottom: 3vw;
	}
	.b-5 {
		bottom: 5vw;
	}
	.b-9 {
		bottom: 9vw;
	}
	.b-15 {
		bottom: 15vw;
	}
	.b-26 {
		bottom: 26vw;
	}
	.b-30 {
		bottom: 30vw;
	}
	.b-50 {
		bottom: 50vw;
	}
	.b-90 {
		bottom: 90vw;
	}
	.b-ab-1 {
		bottom: 1%;
	}
	.b-ab-10 {
		bottom: 10%;
	}
	.b-a {
		bottom: auto;
	}
	.l-0 {
		left: 0;
	}
	.t-0 {
		top: 0;
	}
	.p-f {
		position: fixed;
	}
	.b-8 {
		bottom: 8vw;
	}
	.b-35 {
		bottom: 35vw;
	}
	.b-80 {
		bottom: 80vw;
	}
	.l-a {
		left: auto;
	}
	.b-14 {
		bottom: 14vw;
	}
	.b-6 {
		bottom: 6vw;
	}
	.t-20 {
		top: 20vw;
	}
	.b-20 {
		bottom: 20vw;
	}
	.b-60 {
		bottom: 60vw;
	}
	.r-a {
		right: auto;
	}
	.b-40 {
		bottom: 40vw;
	}
	.b-85 {
		bottom: 85vw;
	}
	.r-4 {
		right: 4vw;
	}
	.l-7 {
		left: 7vw;
	}
	.b-58 {
		bottom: 58vw;
	}
	.t-10 {
		top: 10vw;
	}
	.t-15 {
		top: 15vw;
	}
	.t-30 {
		top: 30vw;
	}
	.r-2 {
		right: 2vw;
	}
	.p-s {
		position: sticky;
	}
	.r-1 {
		right: 1vw;
	}
	.b-24 {
		bottom: 24vw;
	}
	.b-29 {
		bottom: 29vw;
	}
	.b-7 {
		bottom: 7vw;
	}
	.b-12 {
		bottom: 12vw;
	}
	.b-16 {
		bottom: 16vw;
	}
	.b-75 {
		bottom: 75vw;
	}
	.b-0 {
		bottom: 0;
	}
	.b-23 {
		bottom: 23vw;
	}
	.b-34 {
		bottom: 34vw;
	}
	.b-ab-2 {
		bottom: 2%;
	}
	.b-ab-20 {
		bottom: 20%;
	}
	.r-5 {
		right: 5vw;
	}
	.p-r {
		position: relative;
	}
	.r-0 {
		right: 0;
	}
	.t-4 {
		top: 4vw;
	}
	.b-13 {
		bottom: 13vw;
	}
	.b-70 {
		bottom: 70vw;
	}
}
@media (min-width: 769px) {
	.t-2-S {
		top: 2vw;
	}
	.t-3-S {
		top: 3vw;
	}
	.b-26-S {
		bottom: 26vw;
	}
	.b-50-S {
		bottom: 50vw;
	}
	.b-30-S {
		bottom: 30vw;
	}
	.b-35-S {
		bottom: 35vw;
	}
	.b-5-S {
		bottom: 5vw;
	}
	.t-0-S {
		top: 0;
	}
	.b-4-S {
		bottom: 4vw;
	}
	.b-6-S {
		bottom: 6vw;
	}
	.t-20-S {
		top: 20vw;
	}
	.r-2-S {
		right: 2vw;
	}
	.b-2-S {
		bottom: 2vw;
	}
	.b-29-S {
		bottom: 29vw;
	}
	.b-75-S {
		bottom: 75vw;
	}
	.b-0-S {
		bottom: 0;
	}
	.b-100-S {
		bottom: 100vw;
	}
	.b-10-S {
		bottom: 10vw;
	}
	.b-20-S {
		bottom: 20vw;
	}
	.b-3-S {
		bottom: 3vw;
	}
	.b-60-S {
		bottom: 60vw;
	}
	.b-13-S {
		bottom: 13vw;
	}
}
@media (min-width: 1100px) {
	.t-1-M {
		top: 1vw;
	}
	.t-2-M {
		top: 2vw;
	}
	.b-30-M {
		bottom: 30vw;
	}
	.b-14-M {
		bottom: 14vw;
	}
	.b-4-M {
		bottom: 4vw;
	}
	.t-15-M {
		top: 15vw;
	}
	.b-2-M {
		bottom: 2vw;
	}
	.b-3-M {
		bottom: 3vw;
	}
	.b-24-M {
		bottom: 24vw;
	}
	.t-5-M {
		top: 5vw;
	}
	.b-10-M {
		bottom: 10vw;
	}
	.b-1-M {
		bottom: 1vw;
	}
	.b-13-M {
		bottom: 13vw;
	}
	.b-50-M {
		bottom: 50vw;
	}
	.b-70-M {
		bottom: 70vw;
	}
}
@media (min-width: 1921px) {
	.t-3-L {
		top: 3vw;
	}
	.t-10-L {
		top: 10vw;
	}
	.b-80-L {
		bottom: 80vw;
	}
	.b-0-L {
		bottom: 0;
	}
}
@media (min-width: 3840px) {
	.b-5-XL {
		bottom: 5vw;
	}
	.b-60-XL {
		bottom: 60vw;
	}
}

@media (min-width: 0px) {
	.t-a {
		top: auto;
	}
	.b-a {
		bottom: auto;
	}
	.l-a {
		left: auto;
	}
	.r-a {
		right: auto;
	}
	.px-ab-6 {
		padding-right: 6%;
		padding-left: 6%;
	}
}

@media (min-width: 0px) {
	.t-a {
		top: auto;
	}
	.px-1 {
		padding-right: 0.25vw;
		padding-left: 0.25vw;
	}
	.py-2 {
		padding-bottom: 0.5vw;
		padding-top: 0.5vw;
	}
	.px-3 {
		padding-right: 0.75vw;
		padding-left: 0.75vw;
	}
	.py-4 {
		padding-bottom: 1vw;
		padding-top: 1vw;
	}
	.py-8 {
		padding-bottom: 2vw;
		padding-top: 2vw;
	}
	.px-10 {
		padding-right: 2.5vw;
		padding-left: 2.5vw;
	}
	.py-1 {
		padding-bottom: 0.25vw;
		padding-top: 0.25vw;
	}
	.py-3 {
		padding-bottom: 0.75vw;
		padding-top: 0.75vw;
	}
	.py-15 {
		padding-bottom: 3.75vw;
		padding-top: 3.75vw;
	}
	.b-a {
		bottom: auto;
	}
	.p-2 {
		padding: 0.5vw;
	}
	.p-5 {
		padding: 1.25vw;
	}
	.pb-1 {
		padding-bottom: 0.25vw;
	}
	.pb-10 {
		padding-bottom: 2.5vw;
	}
	.l-a {
		left: auto;
	}
	.py-30 {
		padding-bottom: 7.5vw;
		padding-top: 7.5vw;
	}
	.py-80 {
		padding-bottom: 20vw;
		padding-top: 20vw;
	}
	.px-0 {
		padding-right: 0;
		padding-left: 0;
	}
	.px-6 {
		padding-right: 1.5vw;
		padding-left: 1.5vw;
	}
	.r-a {
		right: auto;
	}
	.px-2 {
		padding-right: 0.5vw;
		padding-left: 0.5vw;
	}
	.px-4 {
		padding-right: 1vw;
		padding-left: 1vw;
	}
	.py-5 {
		padding-bottom: 1.25vw;
		padding-top: 1.25vw;
	}
	.px-5 {
		padding-right: 1.25vw;
		padding-left: 1.25vw;
	}
	.py-6 {
		padding-bottom: 1.5vw;
		padding-top: 1.5vw;
	}
	.px-9 {
		padding-right: 2.25vw;
		padding-left: 2.25vw;
	}
	.py-14 {
		padding-bottom: 3.5vw;
		padding-top: 3.5vw;
	}
	.px-15 {
		padding-right: 3.75vw;
		padding-left: 3.75vw;
	}
	.py-16 {
		padding-bottom: 4vw;
		padding-top: 4vw;
	}
	.px-24 {
		padding-right: 6vw;
		padding-left: 6vw;
	}
	.px-30 {
		padding-right: 7.5vw;
		padding-left: 7.5vw;
	}
	.px-50 {
		padding-right: 12.5vw;
		padding-left: 12.5vw;
	}
	.p-0 {
		padding: 0;
	}
	.p-1 {
		padding: 0.25vw;
	}
	.p-6 {
		padding: 1.5vw;
	}
	.p-10 {
		padding: 2.5vw;
	}
	.p-15 {
		padding: 3.75vw;
	}
	.p-20 {
		padding: 5vw;
	}
	.px-8 {
		padding-right: 2vw;
		padding-left: 2vw;
	}
	.px-14 {
		padding-right: 3.5vw;
		padding-left: 3.5vw;
	}
	.px-42 {
		padding-right: 10.5vw;
		padding-left: 10.5vw;
	}
	.px-52 {
		padding-right: 13vw;
		padding-left: 13vw;
	}
	.px-56 {
		padding-right: 14vw;
		padding-left: 14vw;
	}
	.px-60 {
		padding-right: 15vw;
		padding-left: 15vw;
	}
	.px-61 {
		padding-right: 15.25vw;
		padding-left: 15.25vw;
	}
	.px-23 {
		padding-right: 5.75vw;
		padding-left: 5.75vw;
	}
	.px-80 {
		padding-right: 20vw;
		padding-left: 20vw;
	}
	.px-25 {
		padding-right: 6.25vw;
		padding-left: 6.25vw;
	}
	.px-12 {
		padding-right: 3vw;
		padding-left: 3vw;
	}
	.py-10 {
		padding-bottom: 2.5vw;
		padding-top: 2.5vw;
	}
	.px-100 {
		padding-right: 25vw;
		padding-left: 25vw;
	}
}
@media (min-width: 769px) {
	.py-4-S {
		padding-bottom: 1vw;
		padding-top: 1vw;
	}
	.py-3-S {
		padding-bottom: 0.75vw;
		padding-top: 0.75vw;
	}
	.p-2-S {
		padding: 0.5vw;
	}
	.py-30-S {
		padding-bottom: 7.5vw;
		padding-top: 7.5vw;
	}
	.px-3-S {
		padding-right: 0.75vw;
		padding-left: 0.75vw;
	}
	.px-6-S {
		padding-right: 1.5vw;
		padding-left: 1.5vw;
	}
	.px-4-S {
		padding-right: 1vw;
		padding-left: 1vw;
	}
	.py-5-S {
		padding-bottom: 1.25vw;
		padding-top: 1.25vw;
	}
	.py-6-S {
		padding-bottom: 1.5vw;
		padding-top: 1.5vw;
	}
	.py-8-S {
		padding-bottom: 2vw;
		padding-top: 2vw;
	}
	.px-9-S {
		padding-right: 2.25vw;
		padding-left: 2.25vw;
	}
	.p-6-S {
		padding: 1.5vw;
	}
	.p-10-S {
		padding: 2.5vw;
	}
	.px-8-S {
		padding-right: 2vw;
		padding-left: 2vw;
	}
	.px-42-S {
		padding-right: 10.5vw;
		padding-left: 10.5vw;
	}
	.px-0-S {
		padding-right: 0;
		padding-left: 0;
	}
	.px-5-S {
		padding-right: 1.25vw;
		padding-left: 1.25vw;
	}
}
@media (min-width: 1100px) {
	.py-2-M {
		padding-bottom: 0.5vw;
		padding-top: 0.5vw;
	}
	.px-3-M {
		padding-right: 0.75vw;
		padding-left: 0.75vw;
	}
	.py-3-M {
		padding-bottom: 0.75vw;
		padding-top: 0.75vw;
	}
	.py-4-M {
		padding-bottom: 1vw;
		padding-top: 1vw;
	}
	.py-5-M {
		padding-bottom: 1.25vw;
		padding-top: 1.25vw;
	}
	.p-6-M {
		padding: 1.5vw;
	}
	.px-10-M {
		padding-right: 2.5vw;
		padding-left: 2.5vw;
	}
	.px-52-M {
		padding-right: 13vw;
		padding-left: 13vw;
	}
	.px-4-M {
		padding-right: 1vw;
		padding-left: 1vw;
	}
}
@media (min-width: 1300px) {
	.px-15-XM {
		padding-right: 3.75vw;
		padding-left: 3.75vw;
	}
	.px-61-XM {
		padding-right: 15.25vw;
		padding-left: 15.25vw;
	}
}
@media (min-width: 1921px) {
	.px-10-L {
		padding-right: 2.5vw;
		padding-left: 2.5vw;
	}
	.px-3-L {
		padding-right: 0.75vw;
		padding-left: 0.75vw;
	}
	.px-1-L {
		padding-right: 0.25vw;
		padding-left: 0.25vw;
	}
	.px-15-L {
		padding-right: 3.75vw;
		padding-left: 3.75vw;
	}
	.px-50-L {
		padding-right: 12.5vw;
		padding-left: 12.5vw;
	}
	.px-60-L {
		padding-right: 15vw;
		padding-left: 15vw;
	}
	.px-23-L {
		padding-right: 5.75vw;
		padding-left: 5.75vw;
	}
	.px-80-L {
		padding-right: 20vw;
		padding-left: 20vw;
	}
	.px-5-L {
		padding-right: 1.25vw;
		padding-left: 1.25vw;
	}
	.px-100-L {
		padding-right: 25vw;
		padding-left: 25vw;
	}
}

@media (min-width: 0px) {
	.t-a {
		top: auto;
	}
	.b-a {
		bottom: auto;
	}
	.l-a {
		left: auto;
	}
	.r-a {
		right: auto;
	}
	.py-px-1 {
		padding-bottom: 1px;
		padding-top: 1px;
	}
	.px-px-5 {
		padding-right: 5px;
		padding-left: 5px;
	}
	.py-px-15 {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.px-px-50 {
		padding-right: 50px;
		padding-left: 50px;
	}
	.p-px-5 {
		padding: 5px;
	}
}

@media (min-width: 1921px) {
	.py-px-15-L {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.px-px-50-L {
		padding-right: 50px;
		padding-left: 50px;
	}
	.p-px-5-L {
		padding: 5px;
	}
}

@media (min-width: 0px) {
	.t-a {
		top: auto;
	}
	.mb-ab-1 {
		margin-bottom: 1%;
	}
	.mb-ab-10 {
		margin-bottom: 10%;
	}
	.b-a {
		bottom: auto;
	}
	.l-a {
		left: auto;
	}
	.r-a {
		right: auto;
	}
	.mx-ab-2 {
		margin-right: 2%;
		margin-left: 2%;
	}
	.mx-ab-1 {
		margin-right: 1%;
		margin-left: 1%;
	}
	.mb-ab-2 {
		margin-bottom: 2%;
	}
	.mb-ab-20 {
		margin-bottom: 20%;
	}
}

@media (min-width: 0px) {
	.mt-1 {
		margin-top: 0.5vw;
	}
	.mt-2 {
		margin-top: 1vw;
	}
	.mt-3 {
		margin-top: 1.5vw;
	}
	.mb-4 {
		margin-bottom: 2vw;
	}
	.mt-5 {
		margin-top: 2.5vw;
	}
	.t-a {
		top: auto;
	}
	.my-1 {
		margin-bottom: 0.5vw;
		margin-top: 0.5vw;
	}
	.my-2 {
		margin-bottom: 1vw;
		margin-top: 1vw;
	}
	.my-3 {
		margin-bottom: 1.5vw;
		margin-top: 1.5vw;
	}
	.mr-3 {
		margin-right: 1.5vw;
	}
	.my-10 {
		margin-bottom: 5vw;
		margin-top: 5vw;
	}
	.b-a {
		bottom: auto;
	}
	.l-a {
		left: auto;
	}
	.m-9 {
		margin: 4.5vw;
	}
	.mb-1 {
		margin-bottom: 0.5vw;
	}
	.mb-14 {
		margin-bottom: 7vw;
	}
	.mb-2 {
		margin-bottom: 1vw;
	}
	.mb-5 {
		margin-bottom: 2.5vw;
	}
	.mt-20 {
		margin-top: 10vw;
	}
	.mb-20 {
		margin-bottom: 10vw;
	}
	.mt-px-0 {
		margin-top: 0;
	}
	.mt-px-3 {
		margin-top: 3px;
	}
	.mt-px-6 {
		margin-top: 6px;
	}
	.r-a {
		right: auto;
	}
	.m-0 {
		margin: 0;
	}
	.mr-4 {
		margin-right: 2vw;
	}
	.mt-0 {
		margin-top: 0;
	}
	.mb-3 {
		margin-bottom: 1.5vw;
	}
	.mb-6 {
		margin-bottom: 3vw;
	}
	.mt-10 {
		margin-top: 5vw;
	}
	.mt-15 {
		margin-top: 7.5vw;
	}
	.mt-30 {
		margin-top: 15vw;
	}
	.mb-30 {
		margin-bottom: 15vw;
	}
	.mb-px-5 {
		margin-bottom: 5px;
	}
	.mb-px-50 {
		margin-bottom: 50px;
	}
	.mr-2 {
		margin-right: 1vw;
	}
	.mb-8 {
		margin-bottom: 4vw;
	}
	.mx-1 {
		margin-right: 0.5vw;
		margin-left: 0.5vw;
	}
	.mb-10 {
		margin-bottom: 5vw;
	}
	.mt-px-1 {
		margin-top: 1px;
	}
	.mt-px-8 {
		margin-top: 8px;
	}
	.mt-px-10 {
		margin-top: 10px;
	}
	.mt-px-14 {
		margin-top: 14px;
	}
	.mt-px-15 {
		margin-top: 15px;
	}
	.mb-0 {
		margin-bottom: 0;
	}
	.mb-23 {
		margin-bottom: 11.5vw;
	}
	.mb-34 {
		margin-bottom: 17vw;
	}
	.mb-px-8 {
		margin-bottom: 8px;
	}
	.mb-px-80 {
		margin-bottom: 80px;
	}
	.mb-12 {
		margin-bottom: 6vw;
	}
	.mt-4 {
		margin-top: 2vw;
	}
	.mb-7 {
		margin-bottom: 3.5vw;
	}
	.my-12 {
		margin-bottom: 6vw;
		margin-top: 6vw;
	}
	.mb-13 {
		margin-bottom: 6.5vw;
	}
	.mb-16 {
		margin-bottom: 8vw;
	}
	.my-20 {
		margin-bottom: 10vw;
		margin-top: 10vw;
	}
	.my-px-1 {
		margin-bottom: 1px;
		margin-top: 1px;
	}
	.mb-px-1 {
		margin-bottom: 1px;
	}
	.my-px-10 {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.mb-px-10 {
		margin-bottom: 10px;
	}
	.my-px-100 {
		margin-bottom: 100px;
		margin-top: 100px;
	}
	.mb-px-100 {
		margin-bottom: 100px;
	}
}
@media (min-width: 769px) {
	.mt-2-S {
		margin-top: 1vw;
	}
	.mt-3-S {
		margin-top: 1.5vw;
	}
	.my-3-S {
		margin-bottom: 1.5vw;
		margin-top: 1.5vw;
	}
	.mb-5-S {
		margin-bottom: 2.5vw;
	}
	.mt-px-3-S {
		margin-top: 3px;
	}
	.mt-px-6-S {
		margin-top: 6px;
	}
	.mt-0-S {
		margin-top: 0;
	}
	.mb-4-S {
		margin-bottom: 2vw;
	}
	.mb-6-S {
		margin-bottom: 3vw;
	}
	.mt-20-S {
		margin-top: 10vw;
	}
	.mr-2-S {
		margin-right: 1vw;
	}
	.mb-2-S {
		margin-bottom: 1vw;
	}
	.mx-1-S {
		margin-right: 0.5vw;
		margin-left: 0.5vw;
	}
	.mt-px-8-S {
		margin-top: 8px;
	}
	.mb-0-S {
		margin-bottom: 0;
	}
	.mb-10-S {
		margin-bottom: 5vw;
	}
	.mb-20-S {
		margin-bottom: 10vw;
	}
	.mb-3-S {
		margin-bottom: 1.5vw;
	}
	.my-10-S {
		margin-bottom: 5vw;
		margin-top: 5vw;
	}
	.mb-13-S {
		margin-bottom: 6.5vw;
	}
}
@media (min-width: 1100px) {
	.mt-1-M {
		margin-top: 0.5vw;
	}
	.mt-2-M {
		margin-top: 1vw;
	}
	.mb-14-M {
		margin-bottom: 7vw;
	}
	.mt-px-3-M {
		margin-top: 3px;
	}
	.mb-4-M {
		margin-bottom: 2vw;
	}
	.mt-15-M {
		margin-top: 7.5vw;
	}
	.mb-2-M {
		margin-bottom: 1vw;
	}
	.mb-3-M {
		margin-bottom: 1.5vw;
	}
	.mt-5-M {
		margin-top: 2.5vw;
	}
	.mt-px-10-M {
		margin-top: 10px;
	}
	.mb-10-M {
		margin-bottom: 5vw;
	}
	.mb-1-M {
		margin-bottom: 0.5vw;
	}
	.mb-13-M {
		margin-bottom: 6.5vw;
	}
}
@media (min-width: 1300px) {
	.mt-px-15-XM {
		margin-top: 15px;
	}
}
@media (min-width: 1921px) {
	.mt-3-L {
		margin-top: 1.5vw;
	}
	.mt-px-3-L {
		margin-top: 3px;
	}
	.mt-10-L {
		margin-top: 5vw;
	}
	.mb-px-50-L {
		margin-bottom: 50px;
	}
	.mb-px-80-L {
		margin-bottom: 80px;
	}
	.mb-0-L {
		margin-bottom: 0;
	}
	.my-px-100-L {
		margin-bottom: 100px;
		margin-top: 100px;
	}
	.mb-px-100-L {
		margin-bottom: 100px;
	}
}
@media (min-width: 3840px) {
	.mb-5-XL {
		margin-bottom: 2.5vw;
	}
}

@media (min-width: 0px) {
	.t-a {
		top: auto;
	}
	.b-a {
		bottom: auto;
	}
	.l-a {
		left: auto;
	}
	.mt-px-0 {
		margin-top: 0;
	}
	.mt-px-3 {
		margin-top: 30px;
	}
	.mt-px-6 {
		margin-top: 60px;
	}
	.r-a {
		right: auto;
	}
	.mt-px-1 {
		margin-top: 10px;
	}
	.mt-px-8 {
		margin-top: 80px;
	}
	.mt-px-10 {
		margin-top: 100px;
	}
	.mt-px-14 {
		margin-top: 140px;
	}
	.mt-px-15 {
		margin-top: 150px;
	}
}
@media (min-width: 769px) {
	.mt-px-3-S {
		margin-top: 30px;
	}
	.mt-px-6-S {
		margin-top: 60px;
	}
	.mt-px-8-S {
		margin-top: 80px;
	}
}
@media (min-width: 1100px) {
	.mt-px-3-M {
		margin-top: 30px;
	}
	.mt-px-10-M {
		margin-top: 100px;
	}
}
@media (min-width: 1300px) {
	.mt-px-15-XM {
		margin-top: 150px;
	}
}
@media (min-width: 1921px) {
	.mt-px-3-L {
		margin-top: 30px;
	}
}

@media (min-width: 0px) {
	.fs-1 {
		font-size: 1px;
	}
	.fs-2 {
		font-size: 2px;
	}
	.fs-3 {
		font-size: 3px;
	}
	.fs-5 {
		font-size: 5px;
	}
	.fs-9 {
		font-size: 9px;
	}
	.fs-14 {
		font-size: 14px;
	}
	.fs-20 {
		font-size: 20px;
	}
	.fs-24 {
		font-size: 24px;
	}
	.fs-32 {
		font-size: 32px;
	}
	.fs-50 {
		font-size: 50px;
	}
	.fs-90 {
		font-size: 90px;
	}
	.t-a {
		top: auto;
	}
	.fs-4 {
		font-size: 4px;
	}
	.fs-16 {
		font-size: 16px;
	}
	.fs-18 {
		font-size: 18px;
	}
	.fs-40 {
		font-size: 40px;
	}
	.b-a {
		bottom: auto;
	}
	.l-a {
		left: auto;
	}
	.t-px-0 {
		top: 0;
	}
	.t-px-3 {
		top: 30px;
	}
	.t-px-6 {
		top: 60px;
	}
	.r-a {
		right: auto;
	}
	.fs-12 {
		font-size: 12px;
	}
	.t-px-1 {
		top: 10px;
	}
	.t-px-8 {
		top: 80px;
	}
	.t-px-10 {
		top: 100px;
	}
	.t-px-14 {
		top: 140px;
	}
	.t-px-15 {
		top: 150px;
	}
	.fs-28 {
		font-size: 28px;
	}
	.fs-px-2 {
		font-size: 2px;
	}
	.fs-px-23 {
		font-size: 23px;
	}
	.fs-15 {
		font-size: 15px;
	}
}
@media (min-width: 769px) {
	.fs-20-S {
		font-size: 20px;
	}
	.fs-32-S {
		font-size: 32px;
	}
	.fs-16-S {
		font-size: 16px;
	}
	.t-px-3-S {
		top: 30px;
	}
	.t-px-6-S {
		top: 60px;
	}
	.fs-18-S {
		font-size: 18px;
	}
	.t-px-8-S {
		top: 80px;
	}
	.fs-28-S {
		font-size: 28px;
	}
	.fs-12-S {
		font-size: 12px;
	}
}
@media (min-width: 1100px) {
	.fs-24-M {
		font-size: 24px;
	}
	.fs-50-M {
		font-size: 50px;
	}
	.fs-14-M {
		font-size: 14px;
	}
	.t-px-3-M {
		top: 30px;
	}
	.t-px-10-M {
		top: 100px;
	}
	.fs-18-M {
		font-size: 18px;
	}
}
@media (min-width: 1300px) {
	.t-px-15-XM {
		top: 150px;
	}
}
@media (min-width: 1921px) {
	.fs-20-L {
		font-size: 20px;
	}
	.t-px-3-L {
		top: 30px;
	}
	.fs-px-23-L {
		font-size: 23px;
	}
	.fs-18-L {
		font-size: 18px;
	}
}
@media (min-width: 3840px) {
	.fs-40-XL {
		font-size: 40px;
	}
}

@media (min-width: 0px) {
	.fd-c {
		flex-direction: column;
		display: flex;
	}
	.jc-c {
		justify-content: center;
	}
	.ai-c {
		align-items: center;
	}
	.d-b {
		display: block;
	}
	.d-i {
		display: inline;
	}
	.t-a {
		top: auto;
	}
	.lh-ab-1 {
		line-height: 10%;
	}
	.lh-ab-15 {
		line-height: 150%;
	}
	.lh-1 {
		line-height: 0.1;
	}
	.lh-3 {
		line-height: 0.3;
	}
	.lh-10 {
		line-height: 1;
	}
	.lh-a {
		line-height: auto;
	}
	.fw-5 {
		font-weight: 500;
	}
	.ta-c {
		text-align: center;
	}
	.fd-r {
		flex-direction: row;
		display: flex;
	}
	.jc-b {
		justify-content: space-between;
	}
	.b-a {
		bottom: auto;
	}
	.d-f {
		display: flex;
	}
	.l-a {
		left: auto;
	}
	.ai-t {
		align-items: flex-start;
	}
	.r-a {
		right: auto;
	}
	.fw-7 {
		font-weight: 700;
	}
	.tt-u {
		text-transform: uppercase;
	}
	.fd-rr {
		flex-direction: row-reverse;
		display: flex;
	}
	.d-n {
		display: none;
	}
	.fw-w {
		flex-wrap: wrap;
	}
	.fw-nw {
		flex-wrap: nowrap;
	}
	.fw-6 {
		font-weight: 600;
	}
	.br-1 {
		border-width: 0.05vw;
	}
	.fd-cr {
		flex-direction: column-reverse;
		display: flex;
	}
	.ai-b {
		align-items: flex-end;
	}
	.ta-l {
		text-align: left;
	}
	.g-2 {
		gap: 1vw;
	}
	.lh-2 {
		line-height: 0.2;
	}
	.lh-20 {
		line-height: 2;
	}
	.f-main-600 {
		color: #9994b2;
	}
	.bg-main-300 {
		background-color: #120f2c;
	}
	.lh-14 {
		line-height: 1.4;
	}
}
@media (min-width: 769px) {
	.fd-r-S {
		display: flex;
		flex-direction: row;
	}
	.jc-b-S {
		justify-content: space-between;
	}
	.fw-nw-S {
		flex-wrap: nowrap;
	}
	.fd-c-S {
		display: flex;
	}
	.jc-c-S {
		justify-content: center;
	}
	.fd-cr-S {
		display: flex;
		flex-direction: column-reverse;
	}
	.d-n-S {
		display: none;
	}
}
@media (min-width: 1100px) {
	.fd-r-M {
		display: flex;
		flex-direction: row;
	}
	.ai-c-M {
		align-items: center;
	}
}

@media (min-width: 3840px) {
	.ai-b-XL {
		align-items: flex-end;
	}
}

@media (min-width: 0px) {
	.z-1 {
		z-index: 1;
	}
	.z-10 {
		z-index: 10;
	}
	.t-a {
		top: auto;
	}
	.rad-1 {
		border-radius: 0.2vw;
	}
	.rad-10 {
		border-radius: 2vw;
	}
	.b-a {
		bottom: auto;
	}
	.o-0 {
		opacity: 0;
	}
	.o-1 {
		opacity: 0.1;
	}
	.o-10 {
		opacity: 1;
	}
	.cr-p {
		cursor: pointer;
	}
	.z-5 {
		z-index: 5;
	}
	.z-50 {
		z-index: 50;
	}
	.of-h {
		overflow: hidden;
	}
	.z-2 {
		z-index: 2;
	}
	.z-20 {
		z-index: 20;
	}
	.l-a {
		left: auto;
	}
	.o-a {
		opacity: auto;
	}
	.r-a {
		right: auto;
	}
	.z-0 {
		z-index: 0;
	}
	.rad-2 {
		border-radius: 0.4vw;
	}
	.rad-4 {
		border-radius: 0.8vw;
	}
	.rad-5 {
		border-radius: 1vw;
	}
	.rad-6 {
		border-radius: 1.2vw;
	}
	.rad-20 {
		border-radius: 4vw;
	}
	.rad-45 {
		border-radius: 9vw;
	}
	.rad-50 {
		border-radius: 10vw;
	}
	.o-2 {
		opacity: 0.2;
	}
	.brs-s {
		border-style: solid;
	}
	.rad-3 {
		border-radius: 0.6vw;
	}
	.rad-40 {
		border-radius: 8vw;
	}
	.cr-d {
		cursor: default;
	}
}
@media (min-width: 769px) {
	.rad-3-S {
		border-radius: 0.6vw;
	}
}
